.create-listing-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-listing-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.listing-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group .listing-image{
 width: 100px;
 height: 50px;
 border-radius: 5px;
 object-fit: cover;
}
.form-group .delete-listing{
padding: 10px;
color: red;
border-radius: 10px;
text-transform: uppercase;
text-decoration: underline;
background-color: transparent;
}
.form-group .box-listing{
display: flex;
justify-content: space-between;
align-items: center;
margin: 15px 0;
}

.listing-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.listing-form input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.listing-form textarea {
  resize: vertical;
}

.listing-form .toggle-buttons {
  display: flex;
  gap: 10px;
}

.listing-form .toggle-button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.listing-form .toggle-button.active {
  background-color: #27ae60;
  color: #fff;
  border: 1px solid #27ae60;
}

.listing-form .submit-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #27ae60;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.listing-form .submit-button:hover {
  background-color: #27ae60;
}
